<!DOCTYPE HTML>
<html lang="EN">

  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div id="container">
      {% if page.layout =='post' %}
      {{ content }}
      {% include tableContent.html %}
      {% elsif page.type == 'categories' or page.type=='tags' or page.type=='archives' %}
      {% include leftaside.html %}
      {{ content }}
     
      {% elsif page.layout=='page' %} 
      {{ content }}
      {% else %}
      {{ content }}
      {% include sidebar.html %}
      {% endif %}
    </div>
    
    {% include backToTop.html %}
    {% include footer.html %}
    
  </body>

</html>


