---
layout: default
title: Archives
icon: archive
type: archives
permalink: /archives/
---


<div class="main" archives>
    <div class="wrapper">

        <ul class="archive-list-year">
            {% for post in site.posts %}
            {% unless post.next %}<!--letest-post-->
            <li>
                <h2>{{ post.date | date: '%Y' }}</h2>
                

                <ul class="archive-list-month">
                    <li>
                        <h6 id="{{post.date | date: '%Y-%m' }}">{{ post.date | date: '%B' }}</h6>
                        <ul class="archive-list-day">
                            <li>
                                <time>{{ post.date | date:"%F" }} </time>
                                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                
                            </li>
            {% else %}<!--compare date-->
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture pyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != pyear %} <!--diff year-->
                        </ul>
                    </li>
                </ul>
            <li>
                <hr />
                <h2>{{ post.date | date: '%Y' }}</h2>
                 
                
                <ul class="archive-list-month">
                    <li>
                        <h6 id="{{ post.date | date: '%Y-%m' }}">{{ post.date | date: '%B' }}</h6>
                        <ul class="archive-list-day"l>
                            <li>
                                <time>{{ post.date | date:"%F" }}</time>
                                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                
                            </li>          
                        
            {% else %}<!--same year-->
            {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
            {% capture pmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
            {% if month == pmonth %} <!--same year same month -->
                            <li>
                                <time>{{ post.date | date:"%F" }}</time>
                                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                
                            </li>
            {% else %}<!-- same year diff month-->
                        </ul>
                    </li>
                    <li>
                        <h6 id="{{ post.date | date: '%Y-%m' }}">{{ post.date | date: '%B' }}</h6>
                        <ul class="archive-list-day">
                            <li>
                                <time>{{ post.date | date:"%F" }}</time>
                                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                 
                            </li>        
            {% endif %}
                              
            {% endif %}
                               
            {% endunless %}        
            {% endfor %}
        </ul>
    </div>
</div>